[submodule "src/bh-initramfs"]
	path = src/bh-initramfs
    url = ../bh-initramfs
[submodule "src/bh-horizon"]
    path = src/bh-horizon
    url = ../bh-horizon
[submodule "src/bhpkg"]
    path = src/bhpkg
    url = ../bhpkg
[submodule "src/bh-crond"]
	path = src/bh-crond
	url = ../bh-crond
[submodule "src/bh-builder"]
	path = src/bh-builder
	url = ../bh-builder
    
[submodule "packages"]
	path = packages
	url = ../blackhole-packages
