[Service]
Exec=sh -c "while ! ip link set eth0 up 2>/dev/null; do sleep 0.1; done; ip link set lo up && exec udhcpc -S -f -s /bin/dhcp.script -i eth0 >/dev/null 2>&1"
Respawn=true
User=root
Group=root